name: CI - ${{ github.actor }}
on:
  pull_request:
  
jobs:
  GitHub-task-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Display GITHUB_ACTIONS environment variable
        run: echo "GITHUB_ACTIONS=$GITHUB_ACTIONS"

      - name: Show branch and repository name
        run: |
          echo "Branch: ${{ github.ref }}"
          echo "Repository: ${{ github.repository }}"

      - name: Display event that initiated the workflow run
        run: |
          echo "Event: ${github.event_name}"
