name: CI - ${{ github.actor }}
run-name: ${{ github.actor }} testing GitHub Actions

# Controls when the workflow will run
on:
  # Triggers the workflow on pull request events
  pull_request:

env:
  GITHUB_ACTIONS: true

# A workflow run is made up of one or more jobs that can run sequentially or in paralleljobs:
  github-task-job:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Display GITHUB_ACTIONS environment variable
        run: echo "GITHUB_ACTIONS=$GITHUB_ACTIONS"

      - name: Show branch and repository name
        run: |
          echo "Branch: ${{ github.ref }}"
          echo "Repository: ${{ github.repository }}"
